@charset "UTF-8";

body {
    background-color: #66FFFF;
}

h1 {
    margin-left: 5%;
}
strong {
    font-size: 24px;
}

p {
    font-size: 17px;
}

.description {
    background-color: #FFFFFF;
    border-radius: 2em;
    margin: 2% 30% 2% 2%;
    padding: 20px;
}

table {
    margin-left: 20%;
}

.information {
    background-color: floralwhite;
    border-radius: 1em;
    margin-left: 70%;
    padding-left: 10px;
}